@page "/editManufacturer/{ID}"
@using BlazorCRUD.Entities
@using BlazorCRUD.Contracts
@inject IManufacturersManager manufacturesManager
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind-value="@manufacturerEntity.Name" />
                <input type="hidden" @bind-value="@manufacturerEntity.ID" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" @onclick="() => UpdateManufacturer()">Save</button>
                <button type="button" class="btn btn-danger" @onclick="() => Cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>

@code  { [Parameter]
    public string ID { get; set; }

    Manufacturer manufacturerEntity = new Manufacturer();

    protected override async Task OnInitializedAsync()
    {
        manufacturerEntity = await manufacturesManager.GetById(Convert.ToInt32(ID));
    }

    protected async Task UpdateManufacturer()
    {
        await manufacturesManager.Update(manufacturerEntity);
        navigationManager.NavigateTo("/manufacturerlist");
    }

    void Cancel()
    {
        navigationManager.NavigateTo("/manufacturerlist");
    } }
